 
.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .sections {
    max-height: calc(100vh - 70px);
    width: 100%;
    
    overflow-y: scroll;
   
    scroll-snap-type: y mandatory;

    position: relative;
    top: 70px;

    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      margin-top: 7px;

      height: calc(100vh - 70px);

      scroll-snap-align: start;
    }
  }
}
